body {
  font-family: 'Roboto Mono',monospace;
  min-height: 200px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/6342/6342202.png');
  background-color: #000000;
  background-size: 60vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 70px;
  height: 80vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 20px;
}

.page-text {
  color:#ffffff;
}
.page-logo {
  width: 250px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}