body {
  font-family: 'Antonio', sans-serif;
  min-height: 400px;
  background-color: #20B2AA;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.conteudo {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: baseline;
  padding: 60px;
  height: 100%;
}

.page-title {
  color: black;
  font-size: 48px;
  margin: 0 0 5px;
}

.page-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #2F4F4F;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.calculo {
  justify-content: center;
  flex-direction: column;
}

.moedas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moedas .seta {
  width: 30px;
  height: 30px;
}

label {
  color: #2F4F4F;
  font-size: 16px;
  font-weight: 600;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  background: #20B2AA;
  font-family: 'Antonio', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

button {
  font-family: 'Antonio', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffffff00;
}

h2 {
  color: black;
  font-size: 30px;
  width: 350px;
}